<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Asperger Media | Autistic. Information Tech.">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" type="text/css" href="/static/css/xpt.css" media="screen">
        <link rel="stylesheet" href="https://use.typekit.net/yua8lnj.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
        <link rel="icon" href="/favicon.ico">
    </head>
    <body>
        
    </body>
</html>